.root {
  top: 5rem;
  position: fixed;
  bottom: 3rem;
  width: 420px;
  overflow: hidden;
  border-radius: 20px;
  height: calc(100% - 7rem);
  left: calc(50% - 420px / 2);

  &.sm {
    inset: 0;
    width: 100%;
    border-radius: 0;
    height: 100%;
  }
}
